<h1>Editing create task</h1>

<%= render "form", create_task: @create_task %>

<br>

<div>
  <%= link_to "Show this create task", @create_task %> |
  <%= link_to "Back to create tasks", create_tasks_path %>
</div>
