<h1>連想配列</h1>
  <% @food_array.each do |food, price| %>
    <tr>
      <td><%= food %></td>
      <td><%= price %></td>
      <br>
    </tr>
  <% end %>
<br>
<h1>配列</h1>
  <% @animal_array.each do |animal| %>
    <tr>
      <td><%= animal %></td>
      <br>
    </tr>
  <% end %>

